@import url('https://fonts.googleapis.com/css?family=Titillium+Web:100,200,300,400,500,600,700,800,900 | Exo:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do:100,200,300,400,500,600,700,800,900');
/******* STYlING ********/

/******* GENERAL ********/

html {
    font-family: 'Titillium Web', sans-serif;
}

html,
body {
    height: 100%;

}

/******** COLOR ********/

/*How to choose colors https://www.websitebuilderexpert.com/designing-websites/how-to-choose-color-for-your-website/# */

/**Useful tool for picking&mixing colors Adobe Color CC **/

/****Dominant color Green : #08B200 | Accent colors : 1. Orange #FF5900; 2. Blue #1714CC ****/

.menu {
    background-color: white;
}

.navbar-brand {
    color: #08B200;
    /*Domninant color green*/
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: #6c757d/*Color for gray-dark */
}

.greeting {
    color: #08B200;
}

/******** HEADER ********/

/**** NAVIGATION ****/

/*
.navbar-toggler {
    background-color: #FF5900;
    border: 0;
    border-radius: 0;
}*/

.navbar-brand {
    font-family: 'Nothing You Could Do', cursive;
    position: relative;
    font-weight: 400;
    font-size: 34px;
    letter-spacing: 2px;
    transition: all .5s ease-in-out;

}

.navbar-brand:hover,
.navbar-brand:focus {
    color: #FF5900;
}


 .nav-item .nav-link:focus{
    color: #FF5900;
}   
 .nav-item .nav-link:active{
    color: #FF5900;
}  

/******** MAIN CONTENT ********/

/**** Greeting ****/

.greeting {
    font-family: 'Nothing You Could Do', cursive;
    font-weight: 400;
}

.greetingp {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    font-size: 17px;
    margin: 10px 0;
}

/******** Gallery ********/

.gallery {
    transition: all .5s ease-in-out;
    -webkit-box-shadow: 0px 0px 10px 4px rgba(108, 117, 125, 1);
    -moz-box-shadow: 0px 0px 10px 4px rgba(108, 117, 125, 1);
    box-shadow: 0px 0px 10px 4px rgba(108, 117, 125, 1);

}

/******** Services ********/

.services {
    font-family: 'Nothing You Could Do', cursive;
    font-weight: 400;
    font-size: 28;
    color: #08B200;
}

/******** About ********/

#aboutme {
    position: relative;
    top: 50%;
    transform: translateY(-50%)
}

#vitruvius {
    color: #FF5900;
}

.tools {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 20px;
}

.vitruviusprinciple {
    color: #FF5900;
    font-size: 20px;
    font-family: "Exo", sans-serif;
}

/******** Projects ********/

.headingsprojects {
    color: #FF5900;
   
}

/******** Footer ********/

.footerpart {
    background-color: #ffffff;
}

.footerpart {
    height: 110px
}

.footerH {
    font-family: "Exo", sans-serif;
    font-size: 19px;
    color: #FF5900;

}

.footerP {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #FF5900;
    text-align: center
}


.footerS {
    font-size: 20px;
    color: #FF5900;
    transition: all .5s ease-in-out;

}

.footerS:hover {
    color: #48FF16;
    transform: scale(1.2)
}

/******** MEDIA ********/

@media (min-width:768px) {
     #main {
        min-height: 100%;
        margin-bottom: -110px;
    }
    #main:after {
        content: "";
        display: block;
        height: 110px;
    }
    /** Bottom effect - green bar - first two links **/
    .navbar-expand-lg .navbar-nav .firsttwo {
        position: relative;
    }

    .navbar-expand-lg .navbar-nav .firsttwo::after {
        visibility: hidden;
        z-index: 1;
        position: absolute;
        top: 36px;
        content: '';
        width: 1px;
        height: 2px;
        background-color: #08B200;
        left: 8px;
        transition: all .5s ease-in-out;
    }

    .navbar-expand-lg .navbar-nav .firsttwo:hover::after {
        visibility: visible;
        width: 45px;
    }

    /** Bottom effect - green bar - third link **/
    .navbar-expand-lg .navbar-nav .third {
        position: relative;
    }

    .navbar-expand-lg .navbar-nav .third::after {
        visibility: hidden;
        z-index: 1;
        position: absolute;
        top: 36px;
        content: '';
        width: 1px;
        /*grow till 65*/
        height: 2px;
        background-color: #08B200;
        left: 9px;
        transition: all .5s ease-in-out;
    }

    .navbar-expand-lg .navbar-nav .third:hover::after {
        visibility: visible;
        width: 57px;
    }

    /** Bottom effect - green bar - forth link **/
    .navbar-expand-lg .navbar-nav .forth {
        position: relative;
    }

    .navbar-expand-lg .navbar-nav .forth::after {
        visibility: hidden;
        z-index: 1;
        position: absolute;
        top: 36px;
        content: '';
        width: 1px;
        /*grow till 63*/
        height: 2px;
        background-color: #08B200;
        left: 9px;
        transition: all .5s ease-in-out;
    }

    .navbar-expand-lg .navbar-nav .forth:hover::after {
        visibility: visible;
        width: 55px;
    }

    /******** MAIN CONTENT ********/
    /**** Greeting ****/
    .greeting {
        font-weight: 700;
    }
    .greetingp {

        margin: 12px 0;
    }
    .gallerya {
        text-decoration: none;
        transition: all .5s ease-in-out;
    }

    .gallery {
        transition: all .5s ease-in-out;
        -webkit-box-shadow: 0px 0px 10px 4px rgba(108, 117, 125, 1);
        -moz-box-shadow: 0px 0px 10px 4px rgba(108, 117, 125, 1);
        box-shadow: 0px 0px 10px 4px rgba(108, 117, 125, 1);
    }
    .galleryfirstpage .gallery:hover {
        transform: scale(1.2);
        cursor: zoom-in;
    }
    .footerP {
        text-align: justify;
    }
    .footerS {
        font-size: 16px;
    }
    /******** About ********/
    #vitruvius {
        color: #FF5900;
    }
    .tools {
        font-family: 'Nothing You Could Do', cursive;
        font-size: 20px;
    }
    .vitruviusprinciple {
        color: #FF5900;
        font-size: 20px;
        font-family: "Exo", sans-serif;
    }
}

@media (min-width:992px) {
    #main {
        min-height: 100%;
        margin-bottom: -110px;
    }
    #main:after {
        content: "";
        display: block;
        height: 110px;
    }
    .galleryfirstpage {
        text-decoration: none;
        transform: all .5s ease-in-out;
    }

    .gallery {
        transition: all .5s ease-in-out;
        -webkit-box-shadow: 0px 0px 10px 4px rgba(108, 117, 125, 1);
        -moz-box-shadow: 0px 0px 10px 4px rgba(108, 117, 125, 1);
        box-shadow: 0px 0px 16px 4px rgba(108, 117, 125, 1);
    }
    .gallerya .gallery:hover {
        transform: scale(1.2);
        cursor: zoom-in;
    }
    /******** About  ********/
    #vitruvius {
        color: #FF5900;
    }
    .tools {
        font-family: 'Nothing You Could Do', cursive;
        font-size: 20px;
    }
    .vitruviusprinciple {
        color: #FF5900;
        font-size: 20px;
        font-family: "Exo", sans-serif;
    }
 
}

@media (min-width:1200px) {
    #main {
        min-height: 100%;
        margin-bottom: -110px;
    }
    #main:after {
        content: "";
        display: block;
        height: 110px;
    }
    .greetingp {

        margin: 20px 0;
    }
    .galleryfirstpage {
        text-decoration: none;
        transform: all .5s ease-in-out;
    }

    .gallery {
        transition: all .5s ease-in-out;
        -webkit-box-shadow: 0px 0px 10px 4px rgba(108, 117, 125, 1);
        -moz-box-shadow: 0px 0px 10px 4px rgba(108, 117, 125, 1);
        box-shadow: 0px 0px 10px 4px rgba(108, 117, 125, 1);
    }
    .gallerya .gallery:hover {
        transform: scale(1.2);
        cursor: zoom-in;
    }
    /******** About ********/
    #vitruvius {
        color: #FF5900;
    }
    .tools {
        font-family: 'Nothing You Could Do', cursive;
        font-size: 20px;
    }
    .vitruviusprinciple {
        color: #FF5900;
        font-size: 20px;
        font-family: "Exo", sans-serif;
    }
    #contactmargin {
        margin-left: 40px;
    }
}
